* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  padding: 10px 20px;
}

.topSvg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topSvg img:first-child {
  position: absolute;
  left: 0;
}

.topSvg img:last-child {
  position: absolute;
  right: 0;
}

.topSvg img {
  /* top: clamp(18px, 4.7vw, 2vw); */
  /* top: 2vw; */
  top: 0px;
  width: 50vw;
  z-index: 999;
}

.hero {
  background-color: #4a4b4e;
  color: white;
  position: relative;
  /* border: 2px solid black; */
  border-radius: 10px;
  margin: 0vw 2vw 2vw 2vw;
  padding: 2vw;
  min-height: calc(100vh - 4vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  /* top: 20px; */
}

.hero .model {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero .model model-viewer {
  width: clamp(200px, 80vw, 1000px);
  height: clamp(200px, 80vw, 665px);
}

.hero .logo {
  display: flex;
  justify-content: space-between;
  z-index: 1001;
  position: relative;
  /* top: 1vw; */
  /* padding: 1vw; */

  div {
    display: flex;
    gap: 20px;
    cursor: pointer;

  }

  h2 {

    color: #000000;
    font-weight: 400;
    letter-spacing: 5px;

  }

  h3 {
    color: black;

    padding: 1px 10px;
    font-weight: 500;

  }
}

.hero .experience {
  text-align: center;
  margin-top: 50px;

}

.hero .experience h1 {
  font-size: clamp(45px, 14vw, 170px);
  font-family: "Times New Roman", Times, serif;
}

.hero .content {
  display: flex;
  justify-content: space-between;

  span {

    font-weight: 100;
    letter-spacing: 2px;
    margin: 0px 5px;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }

}

@media (max-width:767px) {

  
  
}